body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url();
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
margin: 20px;
    color: black;
   
}
table{
    border-color: black;
    border: 10px;
}
