<div class="container py-5 h-100">

  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

      <div class="card shadow-2-strong" style="border-radius: 1rem;">

        <div class="card-body p-5 text-center">
          <!-- <div ngForm class="form-control"> -->
          <form [formGroup]="angForm" (ngSubmit)="guardar()">

  <img class="CssImage" href="index.html" src="http://interno.comofrasrl.com.ar/sistema/img/logo1.jpg" width="50" height="50" alt="Imagen logo" />
        <h3 class="mb-5">Ingresar datos del implemento</h3>
        <p><label for="Serie">N° Serie</label> -


          <a class="" href="#"><img class="imagenConsulta" href="" src="http://interno.comofrasrl.com.ar/sistema/garantia/assets/img/iconoPregunta.png" width="30" height="30" alt="Consulta de chasis"/>
            <img class="imagenResultado" href="" src="http://interno.comofrasrl.com.ar/sistema/garantia/assets/img/ChapaSerie.jpg"  alt="Consulta de chasis"/>
          </a>

        </p>
          <input type="number" formControlName="Serie" class="form-control" id="Serie" name="Serie" minlength="6" placeholder="Ingrese su numero de Serie" required="true" [(ngModel)]="Garant.Serie"/>
        <div class="form-group" *ngIf="angForm.invalid && angForm.touched">
          <span *ngIf="angForm.controls['Serie'].errors?.['minlength']" >Ingresar el numero de Serie</span><br />
        </div>


          <label for="Correo">Correo Electronico</label>
          <input type="text" formControlName="Correo" class="form-control" id="Correo" name="Correo" placeholder="Ingrese su Correo electronico" required="true" [(ngModel)]="Garant.Correo"/>

        <div class="form-group" *ngIf="angForm.invalid && angForm.touched">
          <span *ngIf="angForm.controls['Correo'].errors?.['email']" >Debe ingresas un Correo electronico para poder comunicarse con usted</span><br />
          <span *ngIf="angForm.controls['Correo'].errors?.['required']" >Ingresar su correo electronico</span><br />
        </div>

          <label for="Telefono">Telefono</label>
          <input type="number" formControlName="Telefono" class="form-control" id="Telefono" name="Telefono" placeholder="Ingrese su Telefono" required="true" [(ngModel)]="Garant.Telefono"/>
        <div class="form-group" *ngIf="angForm.invalid && angForm.touched">
          <span *ngIf="angForm.controls['Telefono'].errors?.['required']" >Ingresar un numero</span><br />
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="angForm.invalid" (click)="guardar()">Pedir Garantia</button>

  </form>
<!-- </div> -->
</div>
</div>
</div>

</div>
